

body {
/*    background-color: #C9F5DB; */
    background-color: #DDDDDD;
    font: normal 1.25em Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;
    font-family: Calibri, Candara, 'Gill Sans', 'Gill Sans MT', sans-serif;
    line-height: 1.5;
/*    color: #394017; */
    color: #444444;
}


h1 {
    font-size: 3.5em;
    margin: auto;
}

header div {
    font-size: 3.5em;
}


b{
    font-weight: bold;
}


.main {
    background-color: #FFFFFF;
    foreground-color: #FFFFFF;
    margin: 0.5em 0.5em 0.5em 0.5em ;
    border-color: black;
    border-style: solid;
    padding: 3em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}


.history {
    float: top;
}

header{
    background-image: url("banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 2.5vw;
    height: 20%;
}

/**
   Header stays neutral
*/

header a:link {
    text-decoration: none;
    color: inherit;
}

header a:visited {
    text-decoration: none;
    color: inherit;
}


/**
   Style of articles
*/

article{
    max-width: 30em;
    border-color: black;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 2em;
    margin-left: 1em;
    border-bottom: line;

}

article:after{
    content:"";
    white-space: pre;

}

article h1 {
    margin-bottom: -0.1em;
    margin-left: -1em;
    font-size: 2em;
    font-weight: bold;
}

article h3 {
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

article li {
    list-style: square outside none;
    text-ident: 4em;
    margin-left: 4em;
}

article time {
    margin-bottom: 1em;
    font-size: 0.75em;
    white-space: nowrap;
}

article time:before{
    content:"Posted on ";
}

article time:after{
    content:"\000A";
    white-space: pre;
}

article p {
    padding: 1em;
}

/**
   Article image not larger than the arctile, and their
   shadow turns red to hint they are clickable
*/

article img {
    max-width: 100%;
    -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
    cursor: pointer;
}

article img:hover {
    -webkit-box-shadow: 0 6px 20px #F66; -moz-box-shadow: 0 6px 20px #F66;
}

/**
   External links are be explicit.
*/

.ext {
     text-decoration: none;
    border-bottom: 1px dashed #999;

}
