

/*
    Default fonts and expecations.

*/


body {
    background-color: #DDDDDD;
    font: normal 1.0em Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;
    font-family: Calibri, Candara, 'Gill Sans', 'Gill Sans MT', sans-serif;
    line-height: 1.5;
    color: #444444;
    text-align: justify;
}

b{
    font-weight: bold;
}

i {
    font-style: italic;
}


/*
   Main Header

*/


h1 {
    font-size: 3.5em;
    margin: auto;
}



.history {
    float: top;
}

/**
   Header stays neutral
*/

header{
    background-image: url("banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 2.5vw;
    height: 20%;
}

header div {
    font-size: 3.5em;
}


header a:link {
    text-decoration: none;
    color: inherit;
}

header a:visited {
    text-decoration: none;
    color: inherit;
}


/**
    Main text appears in a white box.
 */

.main {
    background-color: #FFFFFF;
    foreground-color: #FFFFFF;
    border-color: black;
    border-style: solid;

    /* leave with some space with the top header banner */
    margin: 0.5em 0 0 0 ;
    padding: 1em;


    /* put some white space around the inner font */

  /*  padding-top: 3em;
    padding-left: 3em;*/


    /* not too wide on desktop */
    max-width: 40em;
    min-width: 20em;

    /* center it */
    margin-left: auto;
    margin-right: auto;
}




/**
   Style of articles
*/

article{
    border-color: black;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 2em;
    border-bottom: line;

}

article:after{
    content:"";
    white-space: pre;

}

article h1 {
    margin-bottom: -0.1em;
    font-size: 2em;
    font-weight: bold;
}

article h3 {
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

article li {
    list-style: square outside none;
    text-ident: 4em;
    margin-left: 4em;
}

article time {
    margin-bottom: 1em;
    font-size: 0.75em;
    white-space: nowrap;
}

article time:before{
    content:"Posted on ";
}

article time:after{
    content:"\000A";
    white-space: pre;
}

article p {
    padding: 1em 0 1em 0;
}

article figure figcaption {
    text-align: center;
}
/**
   Article image not larger than the arctile, and their
   shadow turns red to hint they are clickable
*/



article img  {
    max-width: 100%;
    -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


article img:hover {
    -webkit-box-shadow: 0 6px 20px #F66; -moz-box-shadow: 0 6px 20px #F66;
}

article a img {
    -webkit-box-shadow: none;
}

article a img:hover {
    -webkit-box-shadow: none;
}


/**
   External links are be explicit.
*/

.ext {
     text-decoration: none;
    border-bottom: 1px dashed #999;

}
