/* body {
     background-color: #C9F5DB;
 }*/

body {
    background-color: #C9F5DB;
    color: #2C2C2C;
    font: normal 100% Cambria, Georgia, serif;
}

h1 {
    font-size: 3.5em;
    font-style: italic;
    font-weight: normal;
}

h1 a {
    color: #747474;
    font: bold 0.45833333333333em Calibri, Optima, Arial, sans-serif; letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
}


.page {
    background-color: #FFFFFF;
    width: 90%;
    height: 90%;
    margin: 1px auto;
}

.history {
    float: right;
    text-transform: uppercase;
}